# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages used for Data Science
* List some popular libraries used by Data Scientists
* Table of development environment open source tools used in data science
* Simple arithmetic expressions

Some of the most popular languages used by Data Scientists are:
1. Python 
2. R 
3. SQL 
4. Scala 
5. Java 
6. Julia 
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy 
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. Vegas
8. Big DL
9. TensorFlow
10. ggplot2

| Data Science Tools |
|--------------| 
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3 * 4) + 5
#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
minutes = 200
hours = minutes / 60
#This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author
Yant-tzeen Lay Victorio